.sliderWrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: #09090D;
    padding: 12px 10px;
    align-items: center;
    margin: 30px 0 225px 0;
    @media screen and (max-width: 767px) {
        margin: 30px 0 20px 0;
    }
}
.MuiBox-root{
    @media screen and (max-width: 767px) {
        width: 100%;
      }
}
.labelValue {
    color: #D0CFD1;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.308px;
    margin: 0 0 0 4px;
}

.spanValue {
    color: #D0CFD1;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.308px;
    margin: 0 4px 0 0;
}

.MuiSlider-valueLabel {
    border-radius: 12px !important;
    background: #523fd7 !important;
}

.MuiSlider-valueLabel::before {
    display: none;
}

.MuiSlider-thumb::after {
    background-image: url("../../../../../public//images//rangeicon.svg");
    background-repeat: no-repeat;
    width: 45px !important;
    height: 45px !important;
    top: 112% !important;
    left: 113% !important;
}

.MuiSlider-root {
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-color:#19171b;

}

.MuiSlider-thumb {
    background-color: unset !important;
    color: unset;
}

.MuiSlider-rail {
    background-color: #3A3940 !important;
    color: unset;
}

.MuiSlider-track {
    background-image: radial-gradient(circle at top left, #523FD7, #FF7DFF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 2px !important;
}