html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', serif;
  background-color: #12111A;
  @media screen and (max-width: 767px) {
      border-radius: 44px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
